<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>Products_list</title>
    <link rel="stylesheet" href="../static/css/bootstrap-table.min.css" th:href="@{/css/bootstrap-table.min.css}">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" href="../static/css/dashboard.css" th:href="@{/css/dashboard.css}">
    <script src="../static/js/bootstrap.bundle.min.js" th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script src="../static/js/bootstrap.min.*" th:src="@{/js/bootstrap.min.*}"></script>
    <style>
            body {
                background-color: #303641;
            }
    </style>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a href="/dashboard" th:href="@{/dashboard}" class="navbar-brand fw-bold">Dashboard</a>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end" style="margin-right: 10px;">
                <a href="/profile"><img th:src="${face}" class="img-thumbnail" width="40px"></a>
                <a href="/exit" th:href="@{/exit}" class="btn btn-secondary" type="button">Log out</a>
            </div>
        </div>
    </nav>

    <div id="page-index">

        <div class="col-1">

            <ul class="nav nav-pills" style="width: 100%;">
                <li class="nav-item dropdown" style="width: 100%;">
                    <a class="nav-link dropdown-toggle text-light" data-bs-toggle="dropdown" role="button" aria-expanded="false">Commodity</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" aria-current="page" href="/products" th:href="@{/products}">On sale</a></li>
                        <li><a class="dropdown-item" href="/storage" th:href="@{/storage}">In store</a></li>
                    </ul>
                </li>
                <li class="nav-item" style="width: 100%;">
                    <a class="nav-link text-light" aria-current="page" href="/staffs" th:href="@{/staffs}">Staff</a>
                </li>
                <li class="nav-item" style="width: 100%;">
                    <a class="nav-link text-light" aria-current="page" href="/aboutUs" th:href="@{/aboutUs}">About Us</a>
                </li>
            </ul>

        </div>

        <div class="row" style="background-color: rgb(102, 114, 131); margin-left: 10%; margin-right: 10%;">
            <div style="padding-top: 10px; padding-bottom: 10px;">
                <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
                    </div>
                    <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="../static/images/trip.jpg" th:src="@{/images/trip.jpg}" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                        <h5>First slide label</h5>
                        <p>Some representative placeholder content for the first slide.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="../static/images/trip1.jpg" th:src="@{/images/trip1.jpg}" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                        <h5>Second slide label</h5>
                        <p>Some representative placeholder content for the second slide.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="../static/images/trip2.jpg" th:src="@{/images/trip2.jpg}" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                        <h5>Third slide label</h5>
                        <p>Some representative placeholder content for the third slide.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="../static/images/trip3.jpg" th:src="@{/images/trip3.jpg}" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                        <h5>Forth slide label</h5>
                        <p>Some representative placeholder content for the forth slide.</p>
                        </div>
                    </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>

            <div style="height: 30%;">

            </div>

        </div>
    </div>
</body>
</html>