<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width-device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <title>Dashboard</title>
        <link rel="stylesheet" href="../../resources/static/css/dashboard.css">
        <style>
            body {
                background-color: #aeddfc;
            }
            .top {
                background-color: rgb(218, 179, 255);
                height: 50px;
            }
        </style>
    </head>
    <body>
        <div class="top"> 
            <h1 class="big-title" style="float: left;">Dashboard</h1>
            <a href="/"><button id="log_out" style="float: right; margin-right: 10px; margin-top: 15px;">Log out</button></a>
        </div>
        <div class="product-list">
            
        </div>
    </body>
</html>