<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width-device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <title>Dashboard</title>
        <link rel="stylesheet" href="../../resources/static/css/dashboard.css">
        <style>
            body {
                background-color: #303641;
            }
        </style>
    </head>
    <body>
        <div class="top"> 
            <a href="products_list.html"><button id="dashboard-link">Dashboard</button></a>
            <a href="/"><button id="log-out-link">Log out</button></a>
        </div>
        <div id="page-index">
            <div class="col-1">
                <div id="navigator">
                    <div class="n-inner">
                        <div class="n-tab-links">
                            <a href="#"><span class="navi-title">webpage</span></a>
                            <a href="#"><span class="navi-title">webpage</span></a>
                            <a href="#"><span class="navi-title">webpage</span></a>
                            <a href="#"><span class="navi-title">webpage</span></a>
                            <a href="#"><span class="navi-title">webpage</span></a>                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div>
                    <ul class="list">
                        <li class="attribute-box"><a href="#" class="attribute">Name</a></li>
                        <li class="attribute-box"><a href="#" class="attribute">ID</a></li>
                        <li class="attribute-box"><a href="#" class="attribute">Price</a></li>
                            
                        <li class="data">name</li><li class="data">id</li><li class="data">price</li>
                        <li class="data">name</li><li class="data">id</li><li class="data">price</li>
                        <li class="data">name</li><li class="data">id</li><li class="data">price</li>
                        <li class="data">name</li><li class="data">id</li><li class="data">price</li>
                        <li class="data">name</li><li class="data">id</li><li class="data">price</li>
                        
                        <li class="data">name</li><li class="data">id</li><li class="data">price</li>
                        <li class="data">name</li><li class="data">id</li><li class="data">price</li>
                        <li class="data">name</li><li class="data">id</li><li class="data">price</li>
                        <li class="data">name</li><li class="data">id</li><li class="data">price</li>
                        <li class="data">name</li><li class="data">id</li><li class="data">price</li>

                        <li class="data">name</li><li class="data">id</li><li class="data">price</li>
                        <li class="data">name</li><li class="data">id</li><li class="data">price</li>
                        <li class="data">name</li><li class="data">id</li><li class="data">price</li>
                        <li class="data">name</li><li class="data">id</li><li class="data">price</li>
                        <li class="data">name</li><li class="data">id</li><li class="data">price</li>
                    </ul>
                </div>
                <div class="pages">
                    <a class="p" href="#">«</a>
                    <a class="active p" href="#">1</a>
                    <a class="p" href="#">2</a>
                    <a class="p" href="#">3</a>
                    <a class="p" href="#">4</a>
                    <a class="p" href="#">5</a>
                    <a class="p" href="#">»</a>
                </div>
            </div>
        </div>
    </body>
</html>